<div class="main-header">
    <navi>
        <h1 id="logo" style="color:forestgreen;">Fragile App!</h1>
        <ul class="menu">
            <li><a href="#about">About Us</a></li>
            <li><a href="#search">Search</a></li>           
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
    </navi>
</div>
<main>
    <section class="slider" id="about">
        <div class="slider-text">
             <h2 style="color:forestgreen;">
                 About Us! 
             </h2>
             <p>
                 Fragile App provides to people who wants to see digital fragile index. We love Green and we are Designing4Green! 
                 If you would like to see simple digital fragile index, please below button and see all details!
             </p>
             <a href="#search">Search!</a>
        </div>
        <div class="images">
            <img class="corona"
            src="../../../assets/img/designforgreen-min.png"
            alt="corona photo">
           
        </div>
        
     </section>